{% extends 'base.html' %}
{% block body %}
  

<div class="container">
    <h1>Add Task</h1>
    <form action="/" method="POST" id="task-form">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title">
        <div class="mb-3">
          <label for="des" class="form-label">Task</label>
          <input type="text" name="des" class="form-control" id="des">
        </div>
        <button type="submit" class="btn btn-dark">Add</button>
      </form>
</div>

<div class="container">
    <h2>Your Tasks</h2>
    <table class="table">
          {% if alltodo|length==0 %}
          <div class="alert alert-dark" role="alert">
        No Record Found! pls Add Record 
          </div>
          {% else %}
          <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Title</th>
            <th scope="col">Task</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in alltodo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.des}}</td>
            <td>{{todo.createdAt}}</td>
            <td>
              <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark mx-1">Update</a>
              <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark mx-1">Delete</a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
</div>

<!-- <script>
  document.getElementById("task-form").addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent the default form submission behavior

    // Get form data
    const formData = new FormData(this);

    // Send a POST request to the Flask server
    fetch("/", {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json()) // Assuming your Flask server returns JSON data
      .then((data) => {
        // Handle the response data as needed
        console.log(data);
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  });
</script> -->
{% endblock body %}
    