<!-- update.html -->
{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Update Task</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" value="{{ todo.title }}" required class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="des" class="form-label">Task</label>
            <input type="text" name="des" value="{{ todo.des }}" required class="form-control" id="des">
        </div>
        <input type="submit" value="Update" class="btn btn-dark">
    </form>
</div>
{% endblock body %}
